@model CategoryListViewModel

@{
    ViewData["Title"] = "Admin Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Categories</h1>
<hr />

@if (ViewBag.CreationMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.CreationMessage
    </div>
}
@if (ViewBag.UpdateMessage != null)
{ 
    <div class="alert alert-primary" role="alert">
        @ViewBag.UpdateMessage  
    </div>
}
@if(ViewBag.DeleteMessage != null) 
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.DeleteMessage
    </div>
}


@if (Model.Categories.Count() > 0)
{
    // render categories
    <table class="table table-bordered">
        <thead>
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>Name</strong></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-primary btn-sm mr-2" href="/admin/categories/@item.Id">Edit</a>
                        <form asp-controller="admin" asp-action="deletecategory" type="submit" style="display: inline;">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger btn-sm" value="">Delete</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    // there are no categories
    <div class="alert alert-danger" role="alert">
        <h5>No Categories Found in the Database</h5>
    </div>
}