@model CategoryViewModel

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Category</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="admin" asp-action="editcategory" type="submit">
            <!--Category ID-->
            <input type="hidden" value="@Model.Id" name="Id" />

            <!--Category Name-->
            <div class="form-group row">
                <label asp-for="Name" class="col-md-3 col-form-label adminLabel">Category Name</label>
                <div class="col-md-9">
                    <input asp-for="Name" class="form-control" name="Name" value="@Model.Name" />
                </div>
            </div>

            <!--Add New Category Button-->
            <div class="form-group row">
                <div class="col-md-10 offset-md-6">
                    <button type="submit" value="Update" class="btn btn-primary">Update</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-md-8">
        @if(@ViewBag.UncategorizationSuccessMessage != null)
        {
            <div class="alert alert-info" role="alert">
                @ViewBag.UncategorizationSuccessMessage
            </div>
        }
        @if(@ViewBag.UncategorizationFailedMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.UncategorizationFailedMessage
            </div>
        }
        @if (Model.Products.Count() > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td><strong>ID</strong></td>
                        <td><strong>Image</strong></td>
                        <td><strong>Name</strong></td>
                        <td><strong>Price</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>
                                <img src="~/img/@item.ImageURL" width="80" />
                            </td>
                            <td><strong>@item.Name</strong></td>
                            <td>@item.Price</td>
                            <td>
                                <a class="btn btn-primary btn-sm mr-2" href="/admin/products/@item.Id">Edit</a>
                                <form asp-controller="admin" asp-action="uncategorize" method="post" style="display: inline;" class="mr-2">
                                    <input type="hidden" name="productId" value="@item.Id" />
                                    <input type="hidden" name="categoryId" value="@Model.Id" />
                                    <button type="submit" class="btn btn-warning btn-sm" value="">Uncategorize</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <div class="alert alert-danger" role="alert">
                No Products in the Database
            </div>
            <br />
            <a class="btn btn-success" href="/admin/products/add">New Product</a>

        }

        <div page-model="@Model.PaginationInformation"></div>
    </div>
</div>

