@model ProductViewModel

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{ 
    
    <script src="~/modules/ckeditor/ckeditor.js"></script>
    <script src="~/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor");
    </script>
}

<h1>Edit Product</h1>
<hr />

<form asp-controller="Admin" asp-action="EditProduct" type="submit">
    <div class="row">
        <div class="col-9 product-information">
            <!--Product ID-->
            <input type="hidden" value="@Model.Id" name="Id" />

            <!--Product Name-->
            <div class="form-group row">
                <label asp-for="Name" class="col-md-3 col-form-label adminLabel">Product Name</label>
                <div class="col-md-9">
                    <input asp-for="Name" class="form-control" name="Name" value="@Model.Name" />
                </div>
            </div>

            <!--Product Image URL-->
            <div class="form-group row">
                <label asp-for="ImageURL" class="col-md-3 col-form-label adminLabel">Image</label>
                <div class="col-md-9">
                    <input asp-for="ImageURL" type="text" class="form-control" name="ImageURL" value="@Model.ImageURL" />
                </div>
            </div>

            <!--Product Description-->
            <div class="form-group row">
                <label asp-for="Description" class="col-md-3 col-form-label adminLabel">Description</label>
                <div class="col-md-9">
                    <textarea asp-for="Description" id="editor" class="form-control " name="Description"
                              value="@Model.Description"></textarea>
                </div>
            </div>

            <!--Product Price-->
            <div class="form-group row">
                <label asp-for="Price" class="col-md-3 col-form-label adminLabel">Price</label>
                <div class="col-md-9">
                    <input asp-for="Price" type="text" class="form-control" name="Price" value="@Model.Price" />
                </div>
            </div>

            <!--Add New Product Button-->
            <div class="form-group row">
                <div class="col-md-10 offset-md-6">
                    <button type="submit" value="Save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <div class="col-3 category-information">
            @if (ViewBag.AllCategories != null)
            {
                @foreach (var category in ViewBag.AllCategories)
                {
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox"
                               class="custom-control-input"
                               name="categoryId"
                               value="@category.Id"
                               id="category@(category.Id)"
                               @(Model.SelectedCategories
                                .Any(seletectedCat => seletectedCat.Id == category.Id)?"checked":"")/>
                        <label class="custom-control-label"
                               for="category@(category.Id)">@category.Name</label>
                        </div>
                    }
            }
        </div>
    </div>
</form>