@model ProductDetailsModel

<div class="row">
    <div class="col-md-3">
        <img src="~/img/@Model.Product.ImageURL" alt="@Model.Product.Name" class="img-fluid" />
    </div>
    <div class="col-md-9">
        <h1 class="mb-3 productTitle">
            @Model.Product.Name
        </h1>
        <hr />
        <!--Categories-->
        @foreach (var category in Model.Categories)
        {
            <a href="/products/@category.Name.ToLower()" class="btn btn-link p-0 mb-3">@category.Name</a>
        }

        <div class="productPrice mb-3 mt-3">
            <h4 class="text-primary mb-3">
                @Model.Product.Price <i class="fas fa-lira-sign"></i>
            </h4>
            <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
        </div>
        <div class="row productDescription">
            <div class="col-md-12">
                <p class="p-4">
                    @Html.Raw(Model.Product.Description)
                </p>
            </div>
        </div>
    </div>
</div>